.panel > .panel-heading {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.user-panel {
    margin: 25px;
}

.panel {
    max-width: 100%;
    border-color: blue;
}

.panel-body {
    margin-left: 15px;
}

.row {
    margin-right: 14px;
    display: flex;
}

.col {
    flex-direction: column;
    max-width: 70%;
    flex-grow: 1;
}

.form-check{
    display:inline-block;
}

.buttons{
    margin-left: auto;
}

#submit {
    background-color: green;
}